/node_modules
/public/hot
/public/storage
/public/vendors
/public/plugins
/public/js/dompdf
/public/markercluster
/public/admin_assets/plugins
/public/admin_assets/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
