/* [FULL SCREEN SPINNER] */

#spinner-back,
#spinner-front {
    position: fixed;
    width: 100vw;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

#spinner-back {
    z-index: 998;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

#spinner-front {
    z-index: 999;
    color: #fff;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

#spinner-back.show,
#spinner-front.show {
    visibility: visible;
    opacity: 1;
}