body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.c2 {
    color: #d60000;
    font-weight: bold;
}

.tlt {
    padding-left: 3.7%;
    padding-top: 3%;
}

.my2 {
    border-top: 1px solid #d60000;
    border-left: 1px solid #d60000;
    border-right: 1px solid #d60000;
    margin-top: 4%;
    height: 100px;
}

.color2 {
    border-left: 5px solid #d60000;
    margin-top: 4%;
}

.eventos {
    height: 190px;
}

.title {
    background-color: #61a8bd;
    width: 276px;
    border: 0;
}

.title h6 {
    color: white;
    font-weight: 600;
    height: 35px;
    padding: 10px;
    padding-left: 10%;
}

.part1 {
    background-color: white;
}

.content1 h5 {
    color: #2c4143;
    font-weight: 600;
    text-align: justify;
}

td {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    vertical-align: top;
    width: 50%;
}

td.first {
    border-right: 5px solid #4BB495;
}

.subtitle-barra-gris {
    color: #fff;
    font-size: 28px;
}

.text-por-mes {
    font-weight: 700; 
    margin-left: 140px;
}

@media only screen and (max-width: 480px) {

    .subtitle-barra-gris {
        font-size: 22px;
        background-size: 90%;
    }

    .text-por-mes {
        margin-left: 50px;
    }

    .my2 {
        all: unset;
    }

    .eventos {
        height: auto;
    }

    .content1 h5 {
        text-align: left;
    }

}