/* Carousel */
.carousel {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Since positioning the image, we need to help out the caption */
#carouselHome .carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */

#carouselHome .carousel-item>img {
    min-width: 100%;
}

/* Make the image fully responsive */
#carouselHome .carousel-inner img {
    width: 100%;
    height: auto;
}

#carouselHome .carousel-caption {
    color: black;
    right: 58%;
    text-align: right !important;
    max-width: 500px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    line-height: 1;
}

#carouselHome .carousel-indicators {
    bottom: 30px;
}

#carouselHome .carousel-indicators li {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 100%;
    opacity: 1;
}

#carouselHome .carousel-indicators .active {
    background-color: #58707B;
}

#carouselHome .font-title-carousel {
    color: white;
    font-size: 44px;
    letter-spacing: 1px;
}

.chatbot {
    width: 20%;
    height: auto;
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 2000;
}

.btn-agenda {
    position: absolute;
    width: 86px;
    height: auto;
    top: 730px;
}

.container-aventos-agenda {
    display: none;
    position: absolute;
    width: 340px;
    height: auto;
    top: 750px;
    left: 88px;
}

.container-agenda-fechas {
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 20px;
    color: #2C4143;
}

.line-agenda-fechas {
    position: absolute;
    width: 10px;
    height: 200px;
    background-image: url('/assets/img/home/line-eventos.png');
    background-size: contain;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
}

.agenda-day {
    font-size: 38px;
}

.agenda-mes {
    font-size: 11px;
    font-weight: 800;
}

.agenda-descripcion {
    font-size: 8px;
}

.section-divider {
    height: 1.5em;
    border-top: 1px solid #777;
}

.card-indice-title {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.card-indice-counter {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 32px;
}

.presupuesto {
    font-size: 22px;
}

.ver-mas-font {
    color: #D60000;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

.ver-mas-font:hover,
.ver-mas-font:active {
    color: #2C4143;
}

#carouselProjects .carousel-inner {
    max-height: 410px !important;
}

#carouselProjects .img-obra {
    width: 100%;
    height: 320px;
}

#carouselProjects .carousel-control-next-icon {
    background-image: url("/assets/img/home/slider-proyectos/icons/arrow-right.png");
}

#carouselProjects .carousel-control-prev-icon {
    background-image: url("/assets/img/home/slider-proyectos/icons/arrow-left.png");
}

#carouselProjects .carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 36px;
    height: 36px;
}

#carouselProjects .carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

#carouselProjects .carousel-control-next {
    justify-content: right;
}

#carouselProjects .carousel-control-prev {
    justify-content: left;
}

#carouselProjects a {
    color: #fff;
}

.icon-img-carousel {
    width: 24px;
}

.rectangulo-rojo-avance-carousel {
    position: absolute;
    left: 0;
    top: 80%;
    background-color: #D60000;
    width: 64%;
    font-size: 30px;
    text-align: end;
}

.form-newsletter {
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    right: 22%;
    max-width: 350px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}

.input-newsletter {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 0px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #2C4143;
    background-clip: padding-box;
    border: 1px solid #628EA0;
    border-radius: 5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-newsletter:-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.input-newsletter::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    opacity: 1;
}

.input-newsletter::placeholder {
    /* Microsoft Edge */
    color: white;
    opacity: 1;
}


.btn-newsletter {
    padding: 3px 20px;
    font-size: 1rem;
    border-radius: 5rem;
    color: #fff;
    background-color: #628EA0;
    border-color: #628EA0;
    font-weight: 600;
    border: 0;
}

/* Redes sociales */
.timeline {
    border: 23px solid #2C4143;
    border-top-right-radius: 25px;
    width: 500px;
}

.timeline-icon-position {
    position: absolute;
    left: 0;
    top: 2px;
    width: 86%;
    font-size: 24px;
    text-align: end;
}

.timeline-icon-position .fa-twitter {
    background-color: #33CCFF;
    border-radius: 50%;
    padding: 6px;
    color: #fff;
}

.timeline-icon-position .fa-youtube {
    background-color: #FF0000;
    border-radius: 50%;
    padding: 6px;
    color: #fff;
}

.timeline-icon-position .fa-facebook-f {
    background-color: #337FFF;
    border-radius: 50%;
    padding: 8px;
    color: #fff;
    width: 32px;
    height: 32px;
}

/* Visitantes */
.border-left-visitantes {
    position: absolute;
    width: 7px;
    font-size: 30px;
    text-align: end;
    height: 120px;
    background-image: url('/assets/img/home/line-visitas.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.line-top-right {
    border-top: 1px solid #D60000;
    border-right: 1px solid #D60000;
}

.visitantes-counter {
    position: absolute;
    left: 0;
    top: 30%;
    width: 90%;
    text-align: end;
}

#inputSearch {
    box-shadow: unset;
}

#box-search {
    position: fixed;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
    padding: 0;
}

#box-search li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#box-search li a {
    display: block;
    width: 465px;
    color: #58707B;
    padding: 12px 20px;
}

#box-search li a:hover {
    background: #f3f3f3;
}

#box-search li a i {
    background: #f3f3f3;
    margin-right: 10px;
}


#cover-ctn-search {
    width: 10%;
    height: 10%;
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 7;
    display: none;
}

.modaltitle {
    font-size: 20px;
}

.modalbtn {
    font-size: 15px;
}

.title-barra-roja {
    font-size: 32px;
}


/* Desktop */
@media only screen and (max-width: 992px) {


    .timeline {
        border: 23px solid transparent;
    }

    #carouselHome .font-title-carousel {
        font-size: 30px;
    }

    #carouselProjects .img-obra {
        height: 270px;
    }

    .font-size-title {
        font-size: 2rem;
    }

    .form-newsletter {
        right: 18%;
    }

    .visitantes-counter {
        top: 10%;
    }

    .font-size-title {
        font-size: 26px;
    }

}

/* Tablet */
@media only screen and (max-width: 766px) {

    #carouselHome .font-title-carousel {
        font-size: 23px;
    }

    #carouselProjects .img-obra {
        height: 220px;
    }

    .visitantes-counter {
        top: 22%;
    }

    .font-size-title {
        font-size: 22px;
    }
  
}

/* Phone */
@media only screen and (max-width: 576px) {

    #carouselHome .carousel-indicators {
        bottom: 0;
    }

    #carouselHome {
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }

    #carouselProjects {
        margin-top: 0;
        margin-bottom: 0;
    }

    #carouselHome .font-title-carousel {
        color: white;
        font-size: 16px;
        letter-spacing: .8px;
    }

    #carouselHome .carousel-indicators li {
        width: 14px;
        height: 14px;
        margin-right: 2px;
        margin-left: 2px;
    }

    #carouselHome .carousel-caption {
        right: 50%;
    }

    .section-divider {
        height: 0.6em;
    }

    .h3,
    h3 {
        font-size: 1.25rem;
    }

    .card-indice-title {
        font-size: 14px;
    }

    .card-indice-counter {
        font-size: 20px;
    }

    .presupuesto {
        font-size: 12px;
    }

    .mb-5,
    .my-5 {
        margin-bottom: 0 !important;
    }

    .mb-4,
    .my-4 {
        margin-bottom: 0 !important;
    }

    .mt-5,
    .my-5 {
        margin-top: 1.8rem !important;
    }

    .ver-mas-font {
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        font-style: italic;
        background: #628EA0;
        padding: 10px 16px;
        border-radius: 24px;
    }

    .rectangulo-rojo-avance-carousel {
        display: none;
    }

    .mya {
        font-size: 14px;
        color: #2C4143;
    }

    .chatbot {
        width: 50%;
        right: 52px;
    }

    .title-barra-roja {
        font-size: 1.25rem;
        background-image: url("/assets/img/bg-rojo-phone.jpg");
    }

}