.c1 {
    color: #2c4143;
    font-weight: bold;
}

.c2 {
    color: #d60000;
    font-weight: bold;
}

.c3 {
    color: #ffce32;
    font-weight: bold;
}

.c4 {
    color: #61a8bd;
    font-weight: bold;
}

.c5 {
    color: #d8d8cd;
    font-weight: bold;
}

.my {
    border-top: 1px solid #2c4143;
    border-left: 1px solid #2c4143;
    border-right: 1px solid #2c4143;
    margin-top: 4%;
    height: 100px;
}

.my2 {
    border-top: 1px solid #d60000;
    border-left: 1px solid #d60000;
    border-right: 1px solid #d60000;
    margin-top: 4%;
    height: 100px;
}

.my3 {
    border-top: 1px solid #ffce32;
    border-left: 1px solid #ffce32;
    border-right: 1px solid #ffce32;
    margin-top: 4%;
    height: 100px;
}

.my4 {
    border-top: 1px solid #61a8bd;
    border-left: 1px solid #61a8bd;
    border-right: 1px solid #61a8bd;
    margin-top: 4%;
    height: 100px;
}

.my5 {
    border-top: 1px solid #d8d8cd;
    border-left: 1px solid #d8d8cd;
    border-right: 1px solid #d8d8cd;
    margin-top: 4%;
    height: 100px;
}

.tlt {
    padding-left: 3.7%;
    padding-top: 3%;
}

.f {
    margin-left: 3%;
    margin-right: -1.5%;
}

.my2 {
    border-top: 1px solid #d60000;
    border-left: 1px solid #d60000;
    border-right: 1px solid #d60000;
    margin-top: 4%;
    height: 100px;
}

.table {
    height: auto;
}

.color1 {
    border-left: 5px solid #2c4143;
    margin-top: 4%;
}

.color2 {
    border-left: 5px solid #d60000;
    margin-top: 4%;
}

.color3 {
    border-left: 5px solid #ffce32;
    margin-top: 4%;
}

.color4 {
    border-left: 5px solid #61a8bd;
    margin-top: 4%;
}

.color5 {
    border-left: 5px solid #d8d8cd;
    margin-top: 4%;
}

.tr1 {
    background-image: url("http://pice-software.com/costjalisco/public/assets/img/organizations/publico2.png");
    color: #fff;
    font-size: 1em;
}

.tr2 {
    background-image: url("http://pice-software.com/costjalisco/public/assets/img/organizations/academico2.png");
    color: #fff;
    font-size: 1em;
}

.tr3 {
    background-image: url("http://pice-software.com/costjalisco/public/assets/img/organizations/privado2.png");
    color: #fff;
    font-size: 1em;
}

.tr4 {
    background-image: url("http://pice-software.com/costjalisco/public/assets/img/organizations/civil2.png");
    color: #fff;
    font-size: 1em;
}

.tr5 {
    background-image: url("http://pice-software.com/costjalisco/public/assets/img/organizations/estrategico2.png");
    color: #fff;
    font-size: 1em;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.th-institucion {
    width: 35%;
}

.th-titular {
    width: 30%;
}

.th-enlace {
    width: 40%;
}

@media only screen and (max-width: 480px) {

    .f {
        margin-left: auto;
        margin-right: auto;
    }

    .my,
    .my2,
    .my3,
    .my4,
    .my5 {
        all: unset;
    }

    .c1,
    .c2,
    .c3,
    .c4,
    .c5 {
        font-size: 26px;
    }

    .tr1,
    .tr2,
    .tr3,
    .tr4,
    .tr5 {
        font-size: 14px;
    }

    .th-institucion,
    .th-titular,
    .th-enlace {
        width: unset;
    }

    .table td,
    .table th {
        padding: 4px 10px;
    }

}