.btn-conoce-mas {
    position: relative;
    float: right;
    bottom: 100px;
    background: #d60000;
    color: #fff;
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
    box-shadow: 5px 5px 2px #999;
}

.btn-conoce-mas:hover {
    background: rgba(218, 3, 3, 0.904);
    color: rgb(230, 230, 230);
}

.seccion-project {
    padding: 20px 0px 0px 0px;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.background-title {
    background-size: cover;
}

.title-estadisticas {
    font-weight: 700;
    margin-left: 140px;
}

.cuadro-1 {
    margin-left: 20%;
}

/* .cuadro-2 {
    position: absolute;
    margin-left: 70%;
    z-index: 10;
} */

.cuadro-3 {
    margin-left: 20%;
}

/* .cuadro-4 {
    position: absolute;
    margin-left: 35%;
    z-index: 10;
} */

.cuadros-title {
    font-size: 16px;
    font-weight: bold;
}

.cuadro {
    border: 1px solid rgb(116, 116, 116);
    padding: 5px 15px 5px 15px;
    font-size: 30px;
    font-weight: bold
}

.title-section {
    font-weight: 700;
    margin-left: 0px;
    padding: 0;
    color: red;
    font-size: 2rem;
}

.bg-background-total {
    background-image: url('/assets/img/estadisticas/presupuesto-imagen.png');
    text-align: right;
}

.total-presupuesto {
    font-weight: 700;
    margin-right: 20px;
    margin-left: unset;
}

#resultado-estatics{
    color: #375c6b;
    text-align: left;
}
#imagen-subtitulo{
    border-radius: 20px; 
    margin-top: 10px; 
    margin-right: 8px;
}
#subtitulo{
    font-size: 16px;
}
#subtitulo b{
    font-size: 19px;
}
#hr-statistic{
    padding: 0; 
    color: black; 
    margin: 0; 
    margin-top: 12px; 
    border: black 1px solid;
    margin-bottom: 10px
}
#name-organization{
    height: 50px;
}

/* Desktop */
@media only screen and (max-width: 992px) {

    #piechart {
        margin-left: 25%;
    }

    .title-estadisticas {
        margin-left: 100px;
    }

    .cuadro-2 {
        margin-left: 12%;
    }

    .cuadro-4 {
        margin-left: 20%;
    }

    .btn-conoce-mas {
        bottom: unset;
    }

}

/* Tablet */
@media only screen and (max-width: 766px) {

    #piechart {
        margin-left: 10%;
    }

}

/* Phone */
@media only screen and (max-width: 480px) {

    .seccion-project {
        padding: unset;
    }

    .title-estadisticas {
        font-size: 24px;
        margin-left: 50px;
    }

    .cuadro-1 {
        margin-left: 0;
    }

    #img-1phone{
        border: 1px solid #000;
        width: 40px;
        height: 29px;
        margin-left: 15%;
        top: -2px;
        position: absolute;
    }

    .cuadro-2 {
        text-align: right;
        margin-left: 51%;
    }
    
    #img-2phone{
        border: 1px solid #000;
        width: 40px;
        height: 29px;
        margin-left: 66.5%;
        top: -2px;
        position: absolute;
    }

    

    .cuadro-3 {
        margin-left: 0;
    }

    .cuadro-4 {
        text-align: right;
    }

    .cuadros-title {
        font-size: 11px;
    }

    .cuadro {
        font-size: 15px;
    }

    #piechart {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .title-section {
        font-size: 26px;
    }

    .btn-conoce-mas {
        bottom: -10px;
    }

    .total-presupuesto {
        margin-left: unset;
    }

    .bg-background-total {
        background-size: cover;
    }

}