/* ========================== General ========================== */

a {
    color: #fff;
}

a:focus,
a:hover {
    color: #9EC2D5;
    text-decoration: none;
}


/* ========================== Header ========================== */

.header-top {
    font-size: 12px;
    background-image: url("/assets/img/header/menu-superior.jpg") !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-img {
    background-color: #F7F7F7;
}

.header-menu {
    background-image: url("/assets/img/header/menu-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divider {
    height: 1.5em;
    border-left: 1px solid #777;
    margin-top: 10px;
}

.line-red-center {
  margin-top:30px;
  border-bottom: 1px solid #D60000;   
}

.section-divider {
    height: 1.5em;
    border-top: 1px solid #777;
}

.nav-login {
    margin-right: 4rem;
    ;
    margin-left: 6rem;
}

.nav-link {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Dropdow menu */
.dropdown-toggle::after {
  display: none;
}

.dropdown-divider {
position: relative;
  margin: -4px .8rem;
  border-top: 1px solid #777;
  z-index: 1;
}

.dropdown-menu {
  margin-top: 0;
  padding: .4rem 0;
  color: #fff;
  background-color: #2C4143;
  border: none;
  border-radius: 0;
  padding-top: .8rem;
  padding-bottom: 1.8rem;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #9EC2D5;
  background-color: #2C4143;
}

/* ========================== Content ========================== */


/* Carousel */

.carousel {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Since positioning the image, we need to help out the caption */
#carouselHome .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


/* Declare heights because of positioning of img element */
#carouselHome .carousel-item {
  height: 790px;
}

#carouselHome .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


/* Make the image fully responsive */
#carouselHome .carousel-inner img {
  width: 100%;
  height: auto;
}

#carouselHome .carousel-caption {
  color: black;
  right: 58%;
  text-align: right !important;
  max-width: 500px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  line-height: 1;
}

#carouselHome .carousel-indicators {
  bottom: 30px;
}

#carouselHome .carousel-indicators li {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  opacity: 1;
}

#carouselHome .carousel-indicators .active {
    background-color: #58707B;
}

#carouselHome .font-title-carousel {
  color: white;
  font-size: 44px; 
  letter-spacing: 1px;
}

.card-indice-title {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.card-indice-counter {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 32px;
}

.line-red-center {
  margin-top:30px;
  border-bottom: 1px solid #D60000;   
}

.section-divider {
  height: 1.5em;
  border-top: 1px solid #777;
}

#carouselProjects .carousel-control-next-icon {
  background-image: url("/assets/img/home/slider-proyectos/icons/arrow-right.png");
}
#carouselProjects .carousel-control-prev-icon {
  background-image: url("/assets/img/home/slider-proyectos/icons/arrow-left.png");
}
#carouselProjects .carousel-control-next-icon, .carousel-control-prev-icon {
  width: 36px;
  height: 36px;
}
#carouselProjects .carousel-control-next, .carousel-control-prev {
  opacity: 1;
}
#carouselProjects .carousel-control-next {
  justify-content: right;
}
#carouselProjects .carousel-control-prev {
  justify-content: left;
}

.icon-img-carousel {
  width: 24px;
}

.rectangulo-rojo-avance-carousel {
  position: absolute;
  left: 0;
  top: 80%;
  background-color: #D60000;
  width: 64%;
  font-size: 30px;
  text-align: end;
}


/* ========================== Footer ========================== */

.social ul {
    list-style: none;
}

.social ul li a {
    width: 25px;
    height: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    padding-bottom: 25px;
    margin: 2px;
    /* Establecemos una transición a todas las propiedades */
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-youtube {
    background: #c4302b;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
}