/* ========================== General ========================== */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2C4143;
}

a {
    color: #fff;
}

a:focus,
a:hover {
    color: #9EC2D5;
    text-decoration: none;
}

.title-barra-roja {
  background-image: url("/assets/img/background-rojo.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
}
.subtitle-barra-gris {
  background-image: url("/assets/img/background-gris.jpg"); background-repeat: no-repeat;
  background-size: 500px; 
  padding-left: 6rem; 
  font-size: 24px;
}

.text-red {
  color:#D60000;
}

.text-red:hover{
  color: #FF0000;
}


/* ========================== Header ========================== */

.header-top {
  font-size: 12px;
  background-image: url("/assets/img/header/menu-superior.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img {
    background-color: #F7F7F7;
}

.header-menu {
    background-image: url("/assets/img/header/menu-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.divider {
    height: 1.5em;
    border-left: 1px solid #777;
    margin-top: 10px;
}


.nav-login {
    margin-right: 2rem;
    margin-left: 2rem;
}

.nav-link {
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Dropdow menu */
.dropdown-toggle::after {
  display: none;
}

.dropdown-divider {
position: relative;
  margin: -4px .8rem;
  border-top: 1px solid #777;
  z-index: 1;
}

.dropdown-menu {
  margin-top: 0;
  padding: .4rem 0;
  color: #fff;
  background-color: #2C4143;
  border: none;
  border-radius: 0;
  padding-top: .8rem;
  padding-bottom: 1.8rem;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #9EC2D5;
  background-color: #2C4143;
}

/* ========================== Content ========================== */


/* Carousel */

.carousel {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Since positioning the image, we need to help out the caption */
#carouselHome .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


/* Declare heights because of positioning of img element */
#carouselHome .carousel-item {
  height: 790px;
}

#carouselHome .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* Make the image fully responsive */
#carouselHome .carousel-inner img {
  width: 100%;
  height: auto;
}

#carouselHome .carousel-caption {
  color: black;
  right: 58%;
  text-align: right !important;
  max-width: 500px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  line-height: 1;
}

#carouselHome .carousel-indicators {
  bottom: 30px;
}

#carouselHome .carousel-indicators li {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 100%;
  opacity: 1;
}

#carouselHome .carousel-indicators .active {
    background-color: #58707B;
}

#carouselHome .font-title-carousel {
  color: white;
  font-size: 44px; 
  letter-spacing: 1px;
}

.chatbot{
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 2000;
}

.btn-agenda {
  position: absolute;
  width: 86px;
  height: auto;
  top: 730px;
}

.container-aventos-agenda {
  display: none;
  position: absolute;
  width: 340px;
  height: auto;
  top: 750px;
  left: 88px;
}

.container-agenda-fechas {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 20px;
  color: #2C4143;
}

.line-agenda-fechas {
  position: absolute;
  width: 10px;
  height: 200px;
  background-image: url('/assets/img/home/line-eventos.png');
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}

.agenda-day{
  font-size: 38px;
}

.agenda-mes {
  font-size: 11px; 
  font-weight: 800;
}

.agenda-descripcion {
  font-size: 8px;
}

.section-divider {
  height: 1.5em;
  border-top: 1px solid #777;
}

.card-indice-title {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.card-indice-counter {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 32px;
}

.line-red-center {
  margin-top:30px;
  border-bottom: 1px solid #D60000;   
}

.line-red-vertical {
  border-right: 1px solid #D60000;
}

.ver-mas-font {
  color: #D60000; 
  font-size: 18px; 
  font-weight: 700; 
  font-style: italic;
}

.ver-mas-font:hover, .ver-mas-font:active {
  color: #2C4143;
}

#carouselProjects .carousel-inner{
  max-height: 410px !important;
}

#carouselProjects .carousel-control-next-icon {
  background-image: url("/assets/img/home/slider-proyectos/icons/arrow-right.png");
}
#carouselProjects .carousel-control-prev-icon {
  background-image: url("/assets/img/home/slider-proyectos/icons/arrow-left.png");
}
#carouselProjects .carousel-control-next-icon, .carousel-control-prev-icon {
  width: 36px;
  height: 36px;
}
#carouselProjects .carousel-control-next, .carousel-control-prev {
  opacity: 1;
}
#carouselProjects .carousel-control-next {
  justify-content: right;
}
#carouselProjects .carousel-control-prev {
  justify-content: left;
}

.icon-img-carousel {
  width: 24px;
}

.rectangulo-rojo-avance-carousel {
  position: absolute;
  left: 0;
  top: 80%;
  background-color: #D60000;
  width: 64%;
  font-size: 30px;
  text-align: end;
}

.form-newsletter {
  position: absolute;
  text-align: center;
  color: white;
  width: 100%;
  right: 22%;
  max-width: 350px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

.input-newsletter {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 0px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #2C4143;
  background-clip: padding-box;
  border: 1px solid #628EA0;
  border-radius: 5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-newsletter:-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input-newsletter::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: 1;
}

.input-newsletter::placeholder { /* Microsoft Edge */
  color: white;
  opacity: 1;
}


.btn-newsletter {
  padding: 3px 20px;
  font-size: 1rem;
  border-radius: 5rem;
  color: #fff;
  background-color: #628EA0;
  border-color: #628EA0;
  font-weight: 600;
  border: 0;
}

/* Redes sociales */
.timeline {
  border: 23px solid #2C4143;
  border-top-right-radius: 25px;
}
.timeline-icon-position {
  position: absolute;
  left: 0;
  top: 2px;
  width: 90%;
  font-size: 24px;
  text-align: end;
}
.timeline-icon-position .fa-twitter {
  background-color: #33CCFF;
  border-radius: 50%;
  padding: 6px;
  color: #fff;
}
.timeline-icon-position .fa-youtube {
  background-color: #FF0000;
  border-radius: 50%;
  padding: 6px;
  color: #fff;
}
.timeline-icon-position .fa-facebook-f {
  background-color: #337FFF;
  border-radius: 50%;
  padding: 8px;
  color: #fff;
  width: 32px;
  height: 32px;
}

/* Visitantes */
.border-left-visitantes {
  position: absolute;
  width: 7px;
  font-size: 30px;
  text-align: end;
  height: 120px;
  background-image: url('/assets/img/home/line-visitas.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.line-top-right {
  border-top: 1px solid #D60000;
  border-right: 1px solid #D60000;
}

.visitantes-counter{
  position: absolute;
  left: 0;
  top: 30%;
  width: 90%;
  text-align: end;
}


/* -------------Page Specific Project */
#titleproject {
  width: 100%;
  height: auto;
  text-align: justify;
  background-color: #628ea0;
  color: #fff;
  padding: 12px 36px;
  line-height: 1.2;
}

#titleproject span {
  font-size: 26px;
  font-weight: 600;
}

#benefited {
  width: 100%;
  height: auto;
  font-size: calc(1em + 1vw);
  display: inline-block;
  background-color: #d8d8cd;
  padding: 10px;
  margin-top: 2%;
  word-break: break-all;
}

#status {
  background-color: #d60000;
  height: auto;
  color: #fff;
}

#line-date-inagurado {
  border-bottom: 3px solid red;
  padding-left: 20px;
}

#map {
  height: 500px;
}

.background-title {
  font-size: 32px;
  color: #fff;
  background-repeat: no-repeat;
  background-image: url("/assets/img/project/background-title.png");
  background-size: 102%;
}

#background-docs {
  height: auto;
  margin-top: 6%;
  margin-bottom: 6%;
  background-image: url("/assets/img/project/background-docs.jpg");
  background-size: cover;
}

#background-resumen {
  margin-top: 3%;
  background-image: url("/assets/img/project/background-resumen.jpg");
  background-size: cover;
}

.btn-documents {
  font-weight: 700; 
  border:1px solid transparent; 
  border-radius:15px; 
  color:#fff; 
  background-color:#628ea0;
}

.btn-documents:hover {
  color: #fff;
}

.btn-gris {
  color: #fff;
  background-color: #8C8C8C;
  border-color: #7D7D77;
  border-radius: 8px !important;
  padding: 10px 16px;
  font-weight: 600;
  font-size: 13px;
}

.btn-gris:hover,
.btn-gris:active {
  color: #fff;
  background-color: #8C8C8C;
  border-color: #7D7D77 !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #8C8C8C;
}
/* -------------End Page Specific Project */


/* ========================== Footer ========================== */

.social ul {
    list-style: none;
}

.social ul li a {
    width: 25px;
    height: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    padding-bottom: 25px;
    margin: 5px;
    /* Establecemos una transición a todas las propiedades */
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-youtube {
    background: #c4302b;
}

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
}

.btn-go-top {
  position: relative;
  float: left;
  width: 72px;
  height: 72px;
  left: 95%;
  top: 20px;
  z-index: 3000;
}