body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.c2 {
    color: #d60000;
    font-weight: bold;
}

.my2 {
    border-top: 1px solid #d60000;
    border-left: 1px solid #d60000;
    border-right: 1px solid #d60000;
    margin-top: 4%;
    height: 100px;
}

.tlt {
    padding-left: 3.7%;
    padding-top: 3%;
}

.f {
    margin-left: 3%;
    margin-right: -1.5%;
}

.color1 {
    border-left: 5px solid #2c4143;
    margin-top: 4%;
}

.color2 {
    border-left: 5px solid #d60000;
    margin-top: 4%;
}

.material {
    margin-bottom: 5%;
    height: 210px;
}

.title {
    margin-top: 8%;
    background-color: black;
    background: linear-gradient(45deg, #2C4143 70%, #628EA0 70%);
}

.title h6 {
    color: white;
    font-weight: 600;
    height: 35px;
    padding: 10px;
    padding-left: 10%;

}

.part1 {
    background-color: #d8d8cd;
}

.content1 {
    margin-top: 4%;
}

.content1 h5 {
    color: #2c4143;
    font-weight: 600;
    text-align: justify;
    font-size: 20px;
}

.iframe {
    width: 100%;
    height: 100%;
}

.container-modulo {
    color: white;
    margin-top: 40%
}

.fecha-material {
    background-color: #ffce32;
    margin-top: 32%;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {

    .my2 {
        all: unset;
    }

    .material {
        margin-bottom: 5%;
        height: auto;
    }

    .content1 h5 {
        text-align: center;
        font-size: 18px;
    }

    .row-modulo {
        background: #d60000;
        color: #fff;
        color: white;
        font-weight: 600;
        padding: 10px 10px;
        padding-left: 6%;
    }

    .fecha-material-phone {
        background: #ffce32;
        padding: 6px 20px;
    }

}